:root {
  --bg-color: #181717;
  --container-spacing: 14%;
  --primary-text-color: #fff5f0;
  --secondary-text-color: #c8c8c8;
  --link-color: #f5a525;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

*::selection {
  background-color: var(--link-color);
  color: var(--primary-text-color);
}

html,
body {
  color-scheme: dark;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  margin: 0;
  padding: 0;
  background-image: url(/background.svg);
  background-size: contain;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  margin: 90px var(--container-spacing) 40px var(--container-spacing);
  flex: 1;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

.description {
  font-size: 1.1rem;
  margin-bottom: 2rem;
  color: var(--secondary-text-color);
  line-height: 1.4;
}

@media screen and (max-width: 1080px) {
  :root {
    --container-spacing: 8%;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --container-spacing: 4%;
  }
}
