.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .content {
    font-size: 1.2rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 2rem 0;
    max-width: 80%;
    color: var(--primary-text-color);
    line-height: 1.4;
    position: relative;
    z-index: 1;
    word-break: break-word;
    text-shadow: 2px 2px 0px rgba(245, 165, 37, 0.6);
  }
}


@media screen and (max-width: 768px) {
  .wrapper {
    .content {
      font-size: 1rem;
    }
  }
}
